.header {
  margin: auto;
  width: 100%;
  max-height: 100px;
  z-index: 5;
}
.header div {
  margin-top: 0px;
  -webkit-transition: 0.7s;
  transition: 0.5s;
}
.header div nav {
  background: rgba(2, 75, 105, 0.9);
}
.header div nav div .borde {
  width: 8.5rem;
}
.header div nav div .bord {
  border: solid 4px rgba(244, 244, 244, 0.9);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 65px;
  width: 120px;
  background: rgba(24, 24, 24, 0.12);
}
.header div nav div .bord .ram {
  text-orientation: center;
  color: rgba(244, 244, 244, 0.9);
  font-weight: bold;
  font-size: 1rem;
}
.header div nav div .bord .ram .web {
  color: rgba(182, 192, 182, 0.9);
}
.header div nav div .bord .ram .des {
  color: rgba(70, 180, 255, 0.9);
}
.header div nav div div {
  margin-right: 4rem;
}
.header div nav div div a {
  margin-left: 2rem;
  background: rgba(244, 244, 244, 0);
  border-radius: 0.2rem;
}
.header div nav div div a:hover {
  background: rgba(244, 244, 244, 0.1);
}

.seccion1 {
  height: auto;
}
.seccion1 .inside {
  height: 300px;
  -webkit-box-shadow: 16px 16px 16px -6px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 16px 16px 16px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 16px 16px 16px -6px rgba(0, 0, 0, 0.53);
}
.seccion1 .contactoT {
  width: 240px;
  height: 300px;
  background: rgba(222, 221, 213, 0.8);
  -webkit-box-shadow: 15px 12px 16px -6px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 15px 12px 16px -6px rgba(0, 0, 0, 0.73);
  box-shadow: 15px 12px 16px -6px rgba(0, 0, 0, 0.73);
}
.seccion1 .contactoT .contactoC .contacto {
  font-size: 1.4rem;
}
.seccion1 .contactoT .contactoC .contactoI {
  font-size: 2rem;
}
.seccion1 .contactoT .contactoC .signal {
  color: #8B88D7;
}
.seccion1 .contactoT .contactoC .telegram {
  color: #0088cc;
}
.seccion1 .contactoT .contactoC .telefono {
  color: #14703F;
}
.seccion1 .contactoT .contactoC .correo {
  color: #344E64;
}
.seccion1 .contactoT2 {
  width: 400px;
  height: 210px;
  display: flex;
  justify-content: center;
}
.seccion1 .contactoT2 a {
  text-decoration: none;
  color: #0F4066;
  text-align: center;
  width: 177px;
  margin: auto;
  background: rgba(233, 233, 233, 0.9);
  padding: 1rem;
  -webkit-box-shadow: 15px 12px 16px -6px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 15px 12px 16px -6px rgba(0, 0, 0, 0.73);
  box-shadow: 15px 12px 16px -6px rgba(0, 0, 0, 0.73);
  border-radius: 4px 4px 4px 4px;
}
.seccion1 .contactoT2 a:hover {
  -webkit-box-shadow: 1px 1px 1px -6px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 1px 1px 1px -6px rgba(0, 0, 0, 0.73);
  box-shadow: 1px 1px 1px -6px rgba(0, 0, 0, 0.73);
  transform: translate(4px, 4px);
}
.seccion1 .contactoT2 a .logoT {
  color: #0088cc;
  font-size: 3.5rem;
}
.seccion1 .contactoT2 a .logoForm {
  color: #7697B0;
}
.seccion1 .contactoT2 a .logoCorreo {
  color: #154150;
}
.seccion1 .contactoT2 a .clickT {
  font-size: 2rem;
}

.footer {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: end;
  padding: 0.7rem;
  background: rgba(1, 5, 4, 0.85);
}
.footer div div .logoF {
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Sarabun", Helvetica;
}

.body {
  width: auto;
  background: rgba(30, 100, 145, 0.9);
  overflow: hidden;
}

/*# sourceMappingURL=estilos.css.map */
